/dts-v1/;
/plugin/;

#include "k3.h"
#include "sysconfig-pinmux.dtsi"

/* Attach pinctrl to actual consumers */

&main_i2c2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&senseboard_pins_default>; 
    clock-frequency = <400000>;
};

&epwm4 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&myepwm1_pins_default>; 
};

&main_pmx0 {
    pinctrl-names = "default";
    pinctrl-0 = <&allgpio0_pins_default &allgpio1_pins_default>;
};